body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: 3fcfcfc;
    display: flex;
    align-items: center;
}

main {
    background-color: #fcffcf;
    font-size: .85em;
    padding: 2rem;
}

footer {
    background-color: gray;
}

header img {
    width: 10%;
}

main > div {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    column-gap: 2rem;
}
main img {
    width: 100%
}

nav {
    display: inline-block;
    background-color: rgb(143, 143, 171);
    margin: auto;
    width: 80%;
}
header img {
    border-radius: .4rem;
    border: 1px solid #cccccc;
}
ul {
    display: flex;
    list-style-type: none;
}

li {
    /* display: inline-block; */
    width: auto;
    padding: .3rem .5rem;
    background: #fcfcfc;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: green;
}

p {
    line-height: 1.2;
}

img {
    width: 100%;
    /* display: none; */
}